{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false,
        "tarballDir": "output"
      }
    ]
  ],
  "releaseRules": [
    { "breaking": "true", "release": "minor" }
  ],
  "branches":[
    {
      "name": "ajb-test-branch-semantic-release-publishing-fix"
    }
  ]
}