apiVersion: v1
kind: Pod
metadata:
  name: ubuntu-priv
  namespace: ${SOLO_NAMESPACE}
spec:
  serviceAccountName: kube-admin
  containers:
    - name: ubuntu
      image: ubuntu:22.04
      command: ["/bin/bash", "-c", "--"]
      args: ["while true; do sleep 30; done;"]
      securityContext:
        privileged: true
        runAsUser: 0
      volumeMounts:
        - mountPath: /host
          name: host-volume
  volumes:
    - name: host-volume
      hostPath:
        path: /
  restartPolicy: Never
