##
# Copyright (C) 2023-2025 Hedera Hashgraph, LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##

name: "Performance Test Solo Deployment"

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  push:
    branches:
      - main
      - 'release/*'
defaults:
  run:
    shell: bash

permissions:
  contents: read
  pull-requests: write

jobs:
  performance-test:
    if: ${{ github.event_name != 'pull_request' || !github.event.pull_request.draft }}
    timeout-minutes: 90
    runs-on: hiero-solo-linux-large
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Posix Dependencies
        id: set-posix-dependencies
        run: |
          # Configure APT to use main Ubuntu archive (disable mirror rotation)
          sudo sed -i 's|http://[a-z.]*.ubuntu.com|http://archive.ubuntu.com|g' /etc/apt/sources.list
          # Install jq (a lightweight and flexible command-line JSON processor)
          sudo apt-get update && sudo apt-get install -y jq

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22

      - name: Install wget
        run: |
          if ! command -v wget >/dev/null 2>&1; then
            sudo apt-get update
            sudo apt-get install -y wget
          fi

      - name: Install Kubectl
        uses: step-security/setup-kubectl@fa3574e17195eaed56b1e9d9095c58d0aee24f03 # pinned to v4.0.1
        with:
          version: 'v1.27.3'
        id: install

      - name: Setup Kind
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          install_only: true
          node_image: kindest/node:v1.31.4@sha256:2cb39f7295fe7eafee0842b1052a599a4fb0f8bcf3f83d96c7f4864c357c6c30
          version: v0.26.0
          kubectl_version: v1.31.4
          verbosity: 3
          wait: 120s

      - name: Setup Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: "v3.17.1" # helm version

      - name: Install Dependencies
        id: npm-deps
        uses: step-security/retry@e1d59ce1f574b32f0915e3a8df055cfe9f99be5d # v3.0.4
        with:
          max_attempts: 10
          timeout_minutes: 10
          command: |
            npm ci

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.39.2
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Compile Project
        run: task build

      - name: Pull Kind Docker Image
        run: docker image pull kindest/node:v1.31.4@sha256:2cb39f7295fe7eafee0842b1052a599a4fb0f8bcf3f83d96c7f4864c357c6c30

      - name: Setup E2E Tests
        uses: step-security/retry@e1d59ce1f574b32f0915e3a8df055cfe9f99be5d # v3.0.4
        with:
          max_attempts: 3
          timeout_minutes: 10
          command: |
            ./test/e2e/dual-cluster/setup-dual-e2e.sh

      - name: Run E2E Tests
        run: |
          echo SOLO_TEST_CLUSTER=solo-e2e > .env
          echo ONE_SHOT_WITH_BLOCK_NODE=true >> .env
          echo MIRROR_NODE_PINGER_TPS=10 >> .env
          echo ONE_SHOT_METRICS_SLEEP_MINUTES=5 >> .env
          cat .env
          task test-e2e-performance

      - name: Log Metrics
        id: log-metrics
        run: |
          for logFile in ~/.solo/logs/*.json; do
            if [[ -f "$logFile" ]]; then
              echo "::group::JSON Format"
              cat $logFile | jq
              echo "::endgroup::"
              echo "json_log=$(cat $logFile)" >> $GITHUB_OUTPUT
              echo "::group::Spreadsheet Format"
              echo "logFile=$logFile"
              JSON_FILENAME=$logFile ./.github/workflows/script/metrics.sh
              echo "::endgroup::"
            else
              echo "json_log={}" >> $GITHUB_OUTPUT
            fi
          done
          echo "solo_log_dir=$(cd ~/.solo/logs && pwd)" >> $GITHUB_OUTPUT

      - name: Write Log Metrics Message File
        id: log-metrics-file
        if: ${{ !cancelled() && !failure() && steps.log-metrics.outputs.json_log != '{}' }}
        env:
          LOG_FILE: "${{ steps.log-metrics.outputs.solo_log_dir }}/log_file.md"
          JSON_INPUT: "${{ toJSON(fromJSON(steps.log-metrics.outputs.json_log)) }}"
        run: |
          echo "## Log Metrics - Performance Test" >> $LOG_FILE
          echo "" >> $LOG_FILE
          echo "<details>" >> $LOG_FILE
          echo "<summary>" >> $LOG_FILE
          echo "JSON Log Metrics" >> $LOG_FILE
          echo "</summary>" >> $LOG_FILE
          echo '<pre><code class="JSON">' >> $LOG_FILE
          echo "$JSON_INPUT" >> $LOG_FILE
          echo "</code></pre>" >> $LOG_FILE
          echo "</details>" >> $LOG_FILE
          echo "log_file=$LOG_FILE" >> $GITHUB_OUTPUT

      - name: Comment PR with Log Metrics
        if: >-
          ${{ !cancelled() && !failure() && github.event_name == 'pull_request' &&
          steps.log-metrics.outputs.json_log != '{}' && github.event.pull_request.head.repo.fork == false }}
        uses: step-security/actions-comment-pull-request@7f6021194300cf361f7ba99a346c4daa6cab809b # v3.0.1
        with:
          mode: recreate
          file-path: ${{ steps.log-metrics-file.outputs.log_file }}
          comment-tag: log-metrics-performance-test

      - name: Upload E2E Logs to GitHub
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: solo-performance-test.log
          path: ~/.solo/logs/*
          overwrite: true
          if-no-files-found: error

      - name: Performance Test Verification
        run: |
          MAX_MEMORY_MB=10000
          echo "Max memory threshold is set to ${MAX_MEMORY_MB} MB"
          echo "Parsing for the memory usage from the json file"
          MEMORY_USED_MB=$(cat ~/.solo/logs/*.json | jq '.memoryInMebibytes')
          echo "Checking memory usage is less than the threshold"
          if [[ ${MEMORY_USED_MB} =~ ^[0-9]+ ]] && (( ${MEMORY_USED_MB} < ${MAX_MEMORY_MB} )); then
            echo "MEMORY_USED_MB is less than ${MAX_MEMORY_MB} [MB]: MEMORY_USED_MB=${MEMORY_USED_MB} MB"
            exit 0
          else
            echo "Not a valid number or it's >= ${MAX_MEMORY_MB}: MEMORY_USED_MB=${MEMORY_USED_MB} MB"
            exit 1
          fi
