##
# Copyright (C) 2023-2025 Hedera Hashgraph, LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##

name: "Performance Test Solo Deployment"

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  push:
    branches:
      - main
      - 'release/*'
defaults:
  run:
    shell: bash

permissions:
  contents: read
  pull-requests: write

jobs:
  performance-test:
    if: ${{ github.event_name != 'pull_request' || !github.event.pull_request.draft }}
    timeout-minutes: 90
    runs-on: hiero-solo-linux-large
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Posix Dependencies
        id: set-posix-dependencies
        run: |
          # Configure APT to use main Ubuntu archive (disable mirror rotation)
          sudo sed -i 's|http://[a-z.]*.ubuntu.com|http://archive.ubuntu.com|g' /etc/apt/sources.list
          # Install jq (a lightweight and flexible command-line JSON processor)
          sudo apt-get update && sudo apt-get install -y jq

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22

      - name: Install wget
        run: |
          if ! command -v wget >/dev/null 2>&1; then
            sudo apt-get update
            sudo apt-get install -y wget
          fi

      - name: Install Kubectl
        uses: step-security/setup-kubectl@fa3574e17195eaed56b1e9d9095c58d0aee24f03 # pinned to v4.0.1
        with:
          version: 'v1.27.3'
        id: install

      - name: Setup Kind
        uses: helm/kind-action@ef37e7f390d99f746eb8b610417061a60e82a6cc # v1.14.0
        with:
          install_only: true
          node_image: kindest/node:v1.31.4@sha256:2cb39f7295fe7eafee0842b1052a599a4fb0f8bcf3f83d96c7f4864c357c6c30
          version: v0.26.0
          kubectl_version: v1.31.4
          verbosity: 3
          wait: 120s

      - name: Setup Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: "v3.17.1" # helm version

      - name: Install Dependencies
        id: npm-deps
        uses: step-security/retry@e1d59ce1f574b32f0915e3a8df055cfe9f99be5d # v3.0.4
        with:
          max_attempts: 10
          timeout_minutes: 10
          command: |
            npm ci

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.39.2
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Compile Project
        run: task build:compile

      - name: Pull Kind Docker Image
        run: docker image pull kindest/node:v1.31.4@sha256:2cb39f7295fe7eafee0842b1052a599a4fb0f8bcf3f83d96c7f4864c357c6c30

      - name: Setup E2E Tests
        uses: step-security/retry@e1d59ce1f574b32f0915e3a8df055cfe9f99be5d # v3.0.4
        with:
          max_attempts: 3
          timeout_minutes: 10
          command: |
            ./test/e2e/dual-cluster/setup-dual-e2e.sh

      - name: Run E2E Tests
        run: |
          echo SOLO_TEST_CLUSTER=solo-e2e > .env
          echo ONE_SHOT_WITH_BLOCK_NODE=true >> .env
          echo MIRROR_NODE_PINGER_TPS=10 >> .env
          echo ONE_SHOT_METRICS_TEST_DURATION_IN_MINUTES=5 >> .env
          cat .env
          task test-e2e-performance

      - name: Log Metrics
        id: log-metrics
        run: |
          for logFile in ~/.solo/logs/*.json; do
            if [[ -f "$logFile" ]]; then
              echo "::group::JSON Format"
              cat $logFile | jq
              echo "::endgroup::"
              echo "json_log=$(cat $logFile)" >> $GITHUB_OUTPUT
              echo "::group::Spreadsheet Format"
              echo "logFile=$logFile"
              JSON_FILENAME=$logFile ./.github/workflows/script/metrics.sh
              echo "::endgroup::"
            else
              echo "json_log={}" >> $GITHUB_OUTPUT
            fi
          done
          echo "solo_log_dir=$(cd ~/.solo/logs && pwd)" >> $GITHUB_OUTPUT

      - name: Write Log Metrics Message File
        id: log-metrics-file
        if: ${{ !cancelled() && !failure() && steps.log-metrics.outputs.json_log != '{}' }}
        env:
          LOG_FILE: "${{ steps.log-metrics.outputs.solo_log_dir }}/log_file.md"
          JSON_INPUT: "${{ toJSON(fromJSON(steps.log-metrics.outputs.json_log)) }}"
        run: |
          echo "## Log Metrics - Performance Test" >> $LOG_FILE
          echo "" >> $LOG_FILE
          echo "<details>" >> $LOG_FILE
          echo "<summary>" >> $LOG_FILE
          echo "JSON Log Metrics" >> $LOG_FILE
          echo "</summary>" >> $LOG_FILE
          echo '<pre><code class="JSON">' >> $LOG_FILE
          echo "$JSON_INPUT" >> $LOG_FILE
          echo "</code></pre>" >> $LOG_FILE
          echo "</details>" >> $LOG_FILE
          echo "log_file=$LOG_FILE" >> $GITHUB_OUTPUT

      - name: Comment PR with Log Metrics
        if: >-
          ${{ !cancelled() && !failure() && github.event_name == 'pull_request' &&
          steps.log-metrics.outputs.json_log != '{}' && github.event.pull_request.head.repo.fork == false }}
        uses: step-security/actions-comment-pull-request@7f6021194300cf361f7ba99a346c4daa6cab809b # v3.0.1
        with:
          mode: recreate
          file-path: ${{ steps.log-metrics-file.outputs.log_file }}
          comment-tag: log-metrics-performance-test

      - name: Move JVM Memory Usage Data to Metrics Directory
        run: |
          mkdir -p ~/.solo/metrics
          mv ~/.solo/logs/performance-tests-deployment/* ~/.solo/metrics/
          rm -rf ~/.solo/logs/performance-tests-deployment

      - name: Upload E2E Logs to GitHub
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: solo-performance-test.log
          path: ~/.solo/logs/*
          overwrite: true
          if-no-files-found: error

      - name: Performance Test Verification
        run: |
          MAX_MEMORY_MB=11000
          echo "Max memory threshold is set to ${MAX_MEMORY_MB} MB"
          echo "Parsing for the memory usage from the json file"
          MEMORY_USED_MB=$(cat ~/.solo/logs/*.json | jq '.memoryInMebibytes')
          echo "Checking memory usage is less than the threshold"
          if [[ ${MEMORY_USED_MB} =~ ^[0-9]+ ]] && (( ${MEMORY_USED_MB} < ${MAX_MEMORY_MB} )); then
            echo "MEMORY_USED_MB is less than ${MAX_MEMORY_MB} [MB]: MEMORY_USED_MB=${MEMORY_USED_MB} MB"
            exit 0
          else
            echo "Not a valid number or it's >= ${MAX_MEMORY_MB}: MEMORY_USED_MB=${MEMORY_USED_MB} MB"
            exit 1
          fi

      - name: Build and Start Metrics Plotter tool
        run: |
            cd ./scripts/metrics-plotter
            npm ci
            npm run build
            mkdir -p ~/.solo/metrics
            mkdir src/data
            nohup npm start &
            echo $! > /tmp/metrics-plotter.pid
            mkdir -p ./src/data       
            cp ~/.solo/logs/**/timeline-metrics.json ./src/data/timeline.json

      - name: Install Puppeteer / Chrome dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            ca-certificates \
            fonts-liberation \
            libasound2 \
            libatk-bridge2.0-0 \
            libatk1.0-0 \
            libatspi2.0-0 \
            libcairo2 \
            libdbus-1-3 \
            libgdk-pixbuf2.0-0 \
            libglib2.0-0 \
            libgtk-3-0 \
            libnspr4 \
            libnss3 \
            libx11-6 \
            libx11-xcb1 \
            libxcb1 \
            libxcomposite1 \
            libxcursor1 \
            libxdamage1 \
            libxext6 \
            libxfixes3 \
            libxi6 \
            libxrandr2 \
            libxrender1 \
            libxss1 \
            libxtst6 \
            lsb-release \
            xdg-utils \
            libgbm1

      - name: Save Screenshots of Metrics Plotter
        run: |
          cd ./scripts/metrics-plotter
          SCREENSHOT_WIDTH=1920 npm run screenshot -- http://127.0.0.1:8123\?hide-controls=true\&grouped=true\&data=timeline ~/.solo/metrics/chart-grouped.png
          SCREENSHOT_WIDTH=1920 npm run screenshot -- http://127.0.0.1:8123\?hide-controls=true\&grouped=false\&data=timeline ~/.solo/metrics/chart.png
          cp ./src/data/timeline.json ~/.solo/metrics/timeline-metrics.json

      - name: Stop Metrics Plotter tool
        run: |
          if [ -f /tmp/metrics-plotter.pid ]; then
            kill $(cat /tmp/metrics-plotter.pid) || true
            rm /tmp/metrics-plotter.pid
          fi

      - name: Upload Metrics Data and Chart to GitHub
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: solo-performance-chart
          path: ~/.solo/metrics/*
          overwrite: true
          if-no-files-found: error
