##
# Copyright (C) 2023-2024 Hedera Hashgraph, LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##

name: "PR Checks"
on:
  workflow_dispatch:
    inputs:
      consensus-node-version:
        description: "Consensus Node Version:"
        type: string
        required: false
        default: "v0.63.9"
      skip-unit-and-coverage:
        description: "Skip Unit Tests and Coverage"
        type: boolean
        required: false
        default: true
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  id-token: write
  contents: read
  actions: read
  pull-requests: write
  checks: write
  statuses: write

defaults:
  run:
    shell: bash

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  generate_matrix:
    runs-on: hiero-solo-linux-medium
    outputs:
      matrix: ${{ steps.set_matrix.outputs.matrix }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Read JSON and Set Matrix Output
        id: set_matrix
        run: |
          # Install jq (a lightweight and flexible command-line JSON processor)
          sudo apt-get update && sudo apt-get install -y jq

          # Read the JSON file
          JSON_CONTENT=$(cat .github/workflows/support/e2e-test-matrix.json | jq -c .)
          
          echo "JSON_CONTENT: $JSON_CONTENT"

          # Set the output variable 'matrix' with the JSON content
          echo "matrix=$JSON_CONTENT" >> $GITHUB_OUTPUT

  code-style:
    name: Code Style
    uses: ./.github/workflows/zxc-code-style.yaml
    with:
      custom-job-label: Standard

  unit-tests:
    name: Unit Tests
    uses: ./.github/workflows/zxc-unit-test.yaml
    needs:
      - code-style
    if: ${{ !(github.event_name == 'workflow_dispatch' && github.event.inputs.skip-unit-and-coverage) }}
    with:
      custom-job-label: Standard

  build-docker-image:
    name: Build / Docker Image (PR Check)
    needs: unit-tests
    uses: ./.github/workflows/zxc-release-solo-docker-container.yaml
    with:
      dry-run-enabled: true
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  e2e-tests:
    name: E2E Tests (${{ matrix.e2e-test-type.name }})
    if: ${{ !cancelled() && always() }}
    uses: ./.github/workflows/zxc-e2e-test.yaml
    needs:
      - generate_matrix
      - code-style
    strategy:
      fail-fast: false
      matrix:
        e2e-test-type: ${{ fromJSON(needs.generate_matrix.outputs.matrix) }}
      max-parallel: 5
    with:
      # Conditionally pass consensus-node-version only if triggered by workflow_dispatch
      consensus-node-version: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.consensus-node-version || '' }}
      custom-job-label: ${{ matrix.e2e-test-type.name }}
      test-script: ${{ matrix.e2e-test-type.test-script }}
      coverage-subdirectory: ${{ matrix.e2e-test-type.coverage-subdirectory }}
      coverage-report-name: ${{ matrix.e2e-test-type.coverage-report-name }}
      local-java-build: ${{ matrix.e2e-test-type.local-java-build }}
      cluster-name: ${{ matrix.e2e-test-type.coverage-subdirectory }}-${{ github.run_id }}-${{ github.run_attempt }}

  codecov:
    name: CodeCov
    uses: ./.github/workflows/zxc-code-analysis.yaml
    needs:
      - unit-tests
      - e2e-tests
    if: >
      ${{ github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name &&
      !(github.event_name == 'workflow_dispatch' && github.event.inputs.skip-unit-and-coverage) }}
    with:
      custom-job-label: Standard
      enable-codecov-analysis: true
      enable-e2e-coverage-report: true
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}

  codacy-coverage:
    name: Codacy
    uses: ./.github/workflows/zxc-code-analysis.yaml
    needs:
      - unit-tests
      - e2e-tests
    if: >
      ${{ github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name &&
      !(github.event_name == 'workflow_dispatch' && github.event.inputs.skip-unit-and-coverage) }}
    with:
      custom-job-label: Coverage
      enable-codacy-coverage: true
      enable-e2e-coverage-report: true
    secrets:
      codacy-project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}

  hugo-docs-build:
    name: Hugo Docs Build
    uses: ./.github/workflows/zxc-hugo-build.yaml
    if: ${{ !(github.event_name == 'workflow_dispatch' && github.event.inputs.skip-unit-and-coverage) }}
    with:
      ref: ${{ github.ref }}
