##
# Copyright (C) 2023-2024 Hedera Hashgraph, LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##

name: "Deploy Release Artifact"
on:
  workflow_dispatch:
    inputs:
      dry-run-enabled:
        description: "Perform Dry Run"
        type: boolean
        required: false
        default: true

env:
  REGISTRY: ghcr.io

defaults:
  run:
    shell: bash

permissions:
  contents: write
  packages: write
  pages: write
  id-token: write
  issues: write
  pull-requests: write

jobs:
  prepare-release:
    name: Prepare Workflow Run
    runs-on: hiero-solo-linux-medium
    outputs:
      version: ${{ steps.set-outputs.outputs.version }}
      need-release: ${{ steps.set-outputs.outputs.need-release }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Prepare Release
        uses: pandaswhocode/initialize-github-job@a57cd6d8d768b2f3c95334bdd4fa8c21609fc651 # 1.0.5
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-token: '${{ secrets.GH_ACCESS_TOKEN }}'
          setup-node: 'true'
          node-version: '22'
          node-registry: 'https://registry.npmjs.org/'

      - name: Setup JQ
        uses: dcarbone/install-jq-action@b7ef57d46ece78760b4019dbc4080a1ba2a40b45 # v3.2.0
        with:
          version: 1.7

      - name: Install Semantic Release
        run: |
          npm install -g semantic-release@25.0.2 @semantic-release/git@10.0.1 @semantic-release/github@12.0.2 @semantic-release/exec@7.1.0 gradle-semantic-release-plugin@1.7.6
          npm install -g conventional-changelog-conventionalcommits@9.1.0 @commitlint/cli@18.6.0 @commitlint/config-conventional@18.6.0
          npm install -g marked-mangle@1.1.6 marked-gfm-heading-id@3.1.2 semantic-release-conventional-commits@3.0.0

      - name: Calculate Next Version (default branch)
        id: calculate-version
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
          GIT_AUTHOR_NAME: ${{ secrets.GIT_USER_NAME }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.GIT_USER_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
        run: |
          PROCEED="true"
          if [[ "${{ github.event.repository.default_branch }}" == "${{ github.ref_name }}" ]]; then
            if SEMREL_OUTPUT=$(npx semantic-release --dry-run 2>&1); then
              if echo "${SEMREL_OUTPUT}" | grep -q "The next release version is"; then
                echo "::notice file=flow-deploy-release-artifact.yaml::Semantic Release detected a new version"
              else
                echo "::notice file=flow-deploy-release-artifact.yaml::Semantic Release detected NO new version"
                PROCEED="false"
              fi
            else
              echo "::notice file=flow-deploy-release-artifact.yaml::Semantic Release did NOT run successfully"
              PROCEED="false"
            fi
            echo "::group::SemVer output"
            echo "${SEMREL_OUTPUT}"
            echo "::endgroup::"
          else
            if [[ "${{ inputs.dry-run-enabled }}" == "true" ]]; then
              jq -r '.version' './package.json' > VERSION
              PROCEED="true"
            else
              PROCEED="false"
            fi
          fi

          echo "need-release=${PROCEED}" >> "${GITHUB_OUTPUT}"

      - name: Extract Version
        id: set-outputs
        if: ${{ !cancelled() && always() }}
        run: |
          PROCEED="true"
          OUTVER=""
          
          if [[ "${{ steps.calculate-version.outputs.need-release }}" == "true" ]] && [[ -f VERSION ]]; then
            cat VERSION
            TRIMMED_VERSION=$(cat VERSION | tr -d '[:space:]')
            OUTVER="${TRIMMED_VERSION}"
            echo "version=${TRIMMED_VERSION}"
          elif [[ "${{ steps.calculate-version.outputs.need-release }}" == "true" ]] && [[ "${{ inputs.dry-run-enabled }}" == "true" ]] && [[ ! -f VERSION ]]; then
            VER=$(jq -r '.version' './package.json')
            OUTVER="${VER}"
            echo "Dry run enabled and VERSION file not found, using package.json version: ${VER}"
          else
            PROCEED="false"
          fi

          echo "version=${OUTVER}" >> "${GITHUB_OUTPUT}"
          echo "need-release=${PROCEED}" >> "${GITHUB_OUTPUT}"

  get-package-info:
    name: 'Get Package Info'
    runs-on: hiero-solo-linux-medium
    if: ${{ needs.prepare-release.outputs.need-release == 'true' }}
    needs:
      - prepare-release
    outputs:
      package-name: ${{ steps.set-package-name.outputs.package-name }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Prepare Job
        uses: pandaswhocode/initialize-github-job@a57cd6d8d768b2f3c95334bdd4fa8c21609fc651 # 1.0.5
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-token: '${{ secrets.GITHUB_TOKEN }}'
          checkout-fetch-depth: '1'

      - name: Setup JQ
        uses: dcarbone/install-jq-action@b7ef57d46ece78760b4019dbc4080a1ba2a40b45 # v3.2.0
        with:
          version: 1.7

      - name: Generate Package name
        id: set-package-name
        run: |
          clean_pkg_name() {
            echo "${1}" | sed 's/^@//; s/\//-/g'
          }
          pname=$(jq -r '.name' './package.json')
          full_pname=$(clean_pkg_name "${pname}-${{ needs.prepare-release.outputs.version }}.tgz")
          echo "package-name=${full_pname}" | tee -a "${GITHUB_OUTPUT}"

  create-github-release:
    name: 'Create GitHub Release'
    runs-on: hiero-solo-linux-medium
    if: ${{ needs.prepare-release.outputs.need-release == 'true' }}
    needs:
      - prepare-release
      - get-package-info
    outputs:
      need-publish: ${{ steps.verify-package.outputs.need-publish }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Prepare Job
        uses: pandaswhocode/initialize-github-job@a57cd6d8d768b2f3c95334bdd4fa8c21609fc651 # 1.0.5
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-token: '${{ secrets.GH_ACCESS_TOKEN }}'
          setup-node: 'true'
          node-version: '22'
          node-registry: 'https://registry.npmjs.org/'

      - name: Install GnuPG Tools
        run: |
          if ! command -v gpg2 >/dev/null 2>&1; then
            echo "::group::Configure APT Mirror"
              # Configure APT to use main Ubuntu archive (disable mirror rotation)
              sudo sed -i 's|http://[a-z.]*.ubuntu.com|http://archive.ubuntu.com|g' /etc/apt/sources.list
            echo "::endgroup::"
            echo "::group::Updating APT Repository Indices"
              sudo apt update
            echo "::endgroup::"
            echo "::group::Installing GnuPG Tools"
              sudo apt install -y gnupg2
            echo "::endgroup::"
          fi

      - name: Import GPG key
        id: gpg_key
        uses: step-security/ghaction-import-gpg@69c854a83c7f79463f8bdf46772ab09826c560cd # v6.3.1
        with:
          gpg_private_key: ${{ secrets.GPG_KEY_CONTENTS }}
          passphrase: ${{ secrets.GPG_KEY_PASSPHRASE }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_tag_gpgsign: false

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.39.2
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup JQ
        uses: dcarbone/install-jq-action@b7ef57d46ece78760b4019dbc4080a1ba2a40b45 # v3.2.0
        with:
          version: 1.7

      - name: Build Production Distribution
        run: |
          set -eo pipefail
          npm install -g npm@11.7.0
          npm ci
          echo "VERSION=${{ needs.prepare-release.outputs.version }}"
          [[ -n "${{ needs.prepare-release.outputs.version }}" ]] && npm version ${{ needs.prepare-release.outputs.version }} -f --no-git-tag-version --allow-same-version
          task build

      - name: Upload Logs
        if: ${{ always() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: /home/runner/.npm/_logs

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@279b1f629f43dd5bc658d8361ac4802a7ef8d2d5 # v4.9.1
        env:
          JF_URL: ${{ vars.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      - name: Show JFrog Config
        run: jfrog config show

      - name: Verify JFrog Connectivity
        run: jfrog rt ping

      - name: Setup JFrog NPM Repository
        run: |
          jf npmc --server-id-resolve setup-jfrog-cli-server --server-id-deploy setup-jfrog-cli-server --repo-resolve solo-npm-release --repo-deploy solo-npm-release
          echo "::group::JFrog NPM Repository Configuration"
            cat .jfrog/projects/npm.yaml
          echo "::endgroup::"

      - name: Install Semantic Release
        run: |
          npm install -g semantic-release@25.0.2 @semantic-release/git@10.0.1 @semantic-release/github@12.0.2 @semantic-release/exec@7.1.0 gradle-semantic-release-plugin@1.7.6
          npm install -g conventional-changelog-conventionalcommits@9.1.0 @commitlint/cli@18.6.0 @commitlint/config-conventional@18.6.0
          npm install -g marked-mangle@1.1.6 marked-gfm-heading-id@3.1.2 semantic-release-conventional-commits@3.0.0

      - name: Install Dependencies
        run: jf npm ci

      - name: Set Publish Data
        id: set-publish-data
        run: |
          VERSION="${{ needs.prepare-release.outputs.version }}"
          SOLO_NPM_PACKAGE_NAME="hashgraph-solo-${VERSION}.tgz"
          echo "artifact-name=${SOLO_NPM_PACKAGE_NAME}" >> $GITHUB_OUTPUT

      - name: Publish Semantic Release
        env:
          GH_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
          GIT_AUTHOR_NAME: ${{ secrets.GIT_USER_NAME }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
          GIT_COMMITTER_NAME: ${{ secrets.GIT_USER_NAME }}
          GIT_COMMITTER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}
        if: ${{ !cancelled() && !failure() }}
        run: |
          FLAGS=""
          if [[ "${{ inputs.dry-run-enabled }}" == "true" ]]; then
            FLAGS="--dry-run"
          fi

          npx semantic-release --no-sign ${FLAGS}

          if [[ -d "dist" ]]; then
            ls -l dist
          fi

      - name: Deploy to JFrog Registry
        if: ${{ github.event.inputs.dry-run-enabled != 'true' && !cancelled() && !failure() }}
        run: jf npm publish

      - name: Create Example Asset Archives and Upload to Release
        if: ${{ github.event.inputs.dry-run-enabled != 'true' && !cancelled() && !failure() }}
        run: |
          echo "Creating example asset archives for release..."
          GH_TOKEN=${{ secrets.GITHUB_TOKEN }} task -t scripts/Taskfile.examples.yml create-example-asset-archives UPLOAD_TO_RELEASE=true RELEASE_TAG=v${{ needs.prepare-release.outputs.version }} CLEAN_UP=true
          echo "Example assets created and uploaded to release."

      - name: Create NPM Package
        run: |
          echo "::group::View Version to publish to npm"
            echo "Version to publish:"
            cat package.json | grep 'version'
          echo "::endgroup::"

          echo "::group::Build NPM Package"
          task build
          echo "::endgroup::"

          echo "::group::Create Package"
            FLAGS=""
            if [[ "${{ inputs.dry-run-enabled }}" == "true" ]]; then
              echo "Command: npm pack --pack-destination \"output\""
              FLAGS="--dry-run"
            fi
            mkdir -p "output"
            npm pack --pack-destination "output" ${FLAGS}
          echo "::endgroup::"

      - name: Verify Package is Created
        id: verify-package
        run: |
          PROCEED="true"
          echo "::group::Verify Package is Created"
            if ls -l output | grep "${{ needs.get-package-info.outputs.package-name }}" > /dev/null 2>&1 ; then
              echo "::notice file=flow-deploy-release-artifact.yaml,line=306::Package is created"
            else
              PROCEED="false"
              echo "::error file=flow-deploy-release-artifact.yaml,line=306::Package is not created"
              echo "Attempt Manual Publish!"
            fi
          echo "::endgroup::"
          echo "need-publish=${PROCEED}" >> "${GITHUB_OUTPUT}"

      - name: Upload Package
        if: ${{ steps.verify-package.outputs.need-publish == 'true' }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: npm-package
          path: output
          if-no-files-found: error

  publish-npm-package:
    name: Publish Release packages
    runs-on: ubuntu-latest
    needs:
      - get-package-info
      - create-github-release
    if: ${{ needs.create-github-release.outputs.need-publish == 'true' || inputs.dry-run-enabled == true }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Prepare Job
        uses: pandaswhocode/initialize-github-job@a57cd6d8d768b2f3c95334bdd4fa8c21609fc651 # 1.0.5
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-token: '${{ secrets.GITHUB_TOKEN }}'
          setup-node: 'true'
          node-version: '22'
          node-registry: 'https://registry.npmjs.org/'

      - name: Install NPM latest
        run: npm install -g npm@11.7.0

      - name: Download NPM Package Artifact
        if: ${{ inputs.dry-run-enabled != true }}
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: npm-package
          path: output

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.39.2
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish NPM Package
        run: |
          echo "::group::Set Publish Args"
            FLAGS="--access=public"
            echo "flags=${FLAGS}"
          echo "::endgroup::"

          echo "::group::Set tarball output"
            TARBALL="./output/${{ needs.get-package-info.outputs.package-name }}"
            if [[ "${{ inputs.dry-run-enabled }}" == "true" ]]; then
              TARBALL=""
            fi
            echo "tarball=${TARBALL}"
          echo "::endgroup::"

          echo "::group::Publish NPM Package"
            if [[ "${{ inputs.dry-run-enabled }}" != "true" ]]; then
              npm publish ${TARBALL} ${FLAGS}
            fi
          echo "::endgroup::"

  setup:
    name: Hugo Docs Setup
    runs-on: hiero-solo-linux-medium
    outputs:
      tag-ref: ${{ steps.set-inputs.outputs.tag_ref }}
    needs:
      - prepare-release
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Set Inputs
        id: set-inputs
        run: |
          set -eo pipefail
          if [[ "${{ inputs.dry-run-enabled }}" == 'true' ]]; then
            echo "Dry run enabled, setting ref to `github.ref` since tag won't exist."
            echo "tag_ref=${{ github.ref }}" >> $GITHUB_OUTPUT
            echo "tag_ref=${{ github.ref }}"
          else
            echo "Dry run not enabled, setting ref to 'refs/tags/v${{ needs.prepare-release.outputs.version }}'."
            echo "tag_ref=refs/tags/v${{ needs.prepare-release.outputs.version }}" >> $GITHUB_OUTPUT
            echo "tag_ref=refs/tags/v${{ needs.prepare-release.outputs.version }}"
          fi

  # Do a Hugo build for the docs site for the release branch
  hugo-docs-build:
    name: Hugo Docs Build
    uses: ./.github/workflows/zxc-hugo-build.yaml
    needs:
      - prepare-release
      - create-github-release
      - setup
    with:
      docs-build-label: 'v${{ needs.prepare-release.outputs.version }}'
      ref: ${{ needs.setup.outputs.tag-ref }}
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}

  # Do a Hugo build for the docs site for the main branch, required to ensure that docs for the main branch get deployed
  #  to GitHub Pages
  hugo-docs-build-main:
    name: Hugo Docs Build Main
    uses: ./.github/workflows/zxc-hugo-build.yaml
    needs:
      - hugo-docs-build
    with:
      docs-build-label: 'main'
      download-artifacts: true
      ref: 'main'
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}

  # Publish the Hugo docs site to GitHub Pages unless dry-run is enabled
  hugo-docs-publish:
    name: Hugo Docs Publish
    if: ${{ inputs.dry-run-enabled != 'true' && !cancelled() && !failure() }}
    needs:
      - prepare-release
      - hugo-docs-build-main
    uses: ./.github/workflows/zxc-hugo-publish.yaml
    with:
      docs-build-label: 'v${{ needs.prepare-release.outputs.version }}'
      dry-run-enabled: ${{ inputs.dry-run-enabled }}
      attach-docs-enabled: true
