##
# Copyright (C) 2023-2024 Hedera Hashgraph, LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##

name: Publish to GitHub Pages

on:
  workflow_call:
    inputs:
      docs-build-label:
        description: "The docs build label to build for Solo, can be a version tag or `main`, e.g. 'v0.37.2'"
        type: string
        required: false
        default: 'main' # main is used unless it is a version tag already released or about to be released
      dry-run-enabled:
        description: "Perform Dry Run, skipping deployment to GitHub Pages"
        type: boolean
        required: false
        default: false
      attach-docs-enabled:
        description: "Attach docs as release artifacts"
        type: boolean
        required: false
        default: false

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

defaults:
  run:
    shell: bash

jobs:
  deploy:
    name: Deploy
    runs-on: hiero-solo-linux-medium
    environment:
      name: github-pages # security guard on what branch/tag can run this job
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0
        with:
          enablement: true

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.39.2
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Download Hugo Build Artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: hugo-build-artifacts
          path: docs/site

      - name: List Artifacts
        run: |
          set -eo pipefail
          echo "Listing downloaded build artifacts:"
          ls -la ./docs/site/build # what to upload as a release artifact
          ls -la ./docs/site/public # what to upload to GitHub Pages

      - name: Attach Docs as Release Artifacts
        if: ${{ inputs.attach-docs-enabled && !inputs.dry-run-enabled && !cancelled() && !failure() }}
        run: |
          set -eo pipefail
          RELEASE_VERSION="${{ inputs.docs-build-label }}"
          # Ensure the release version is set
          if [[ -z "${RELEASE_VERSION}" ]]; then
            echo "Error: docs-build-label input is required for attaching release artifacts." >&2
            exit 1
          fi
          cd docs/site
          # Create the release artifact tarballs
          GH_TOKEN=${{ secrets.GITHUB_TOKEN }} HUGO_SOLO_VERSION="${RELEASE_VERSION}" task github:upload:release:assets

      # Upload / stage the built site to GitHub Pages
      - name: Upload Pages Artifact
        if: ${{ !inputs.dry-run-enabled && !cancelled() && !failure() }}
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: docs/site/public

      - name: Deploy to GitHub Pages
        id: deployment
        if: ${{ !inputs.dry-run-enabled && !cancelled() && !failure() }}
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
