##
# Copyright (C) 2023-2024 Hedera Hashgraph, LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##

name: Update README.md

# This workflow calls script update_md.sh to update the docs/site/content/en/docs/step-by-step-guide.md file
on:
  workflow_dispatch:
    inputs:
      commit-changes:
        description: "Commit updated step-by-step-guide.md"
        type: boolean
        required: false
        default: false
      version:
        description: "The version to set the app to during deploy/release"
        type: string
        required: false
  workflow_call:
    secrets:
      GH_ACCESS_TOKEN:
        description: "GitHub Access Token"
        required: true
      GH_ACCESS_GPG_KEY:
        description: "GitHub Access GPG Key"
        required: true
      GH_ACCESS_PASSPHRASE:
        description: "GitHub Access Passphrase"
        required: true
    inputs:
      commit-changes:
        description: "Commit updated step-by-step-guide.md"
        type: boolean
        required: false
        default: false
      version:
        description: "The version to set the app to during deploy/release"
        type: string
        required: false
    outputs:
      commit-hash:
        description: "The commit hash for the updated step-by-step-guide.md commit"
        value: ${{ jobs.update.outputs.commit_hash }}

defaults:
  run:
    shell: bash

permissions:
  contents: write

jobs:
  update:
    outputs:
      commit_hash: ${{ steps.commit-readme.outputs.commit_hash }}
    runs-on: hiero-solo-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout Code for Push
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_ACCESS_TOKEN }}

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          version: 3.39.2
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20

      - name: Install wget
        run: |
          sudo apt-get update
          sudo apt-get install -y wget

      - name: Setup Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0
        with:
          version: "v3.12.3" # helm version

      - name: Setup Kind
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1.12.0
        with:
          install_only: true
          node_image: kindest/node:v1.31.4@sha256:2cb39f7295fe7eafee0842b1052a599a4fb0f8bcf3f83d96c7f4864c357c6c30
          version: v0.26.0
          kubectl_version: v1.31.4
          verbosity: 3
          wait: 120s

      - name: Update docs/site/content/en/docs/step-by-step-guide.md
        env:
          SOLO_TEST_CLUSTER: "solo-update-readme-${{ github.run_id }}-${{ github.run_attempt }}"
        run: |
          .github/workflows/script/wrapper_for_update_md.sh ${{ inputs.version }}

      - name: Import GPG key
        uses: step-security/ghaction-import-gpg@c86c374c0659a6c2d1284bccf8af889e73ce8fe0 # v6.3.0
        if: ${{ github.event.inputs.dry-run-enabled != 'true' && !cancelled() && !failure() && inputs.commit-changes }}
        with:
          gpg_private_key: ${{ secrets.GH_ACCESS_GPG_KEY }}
          passphrase: ${{ secrets.GH_ACCESS_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Commit docs/site/content/en/docs/step-by-step-guide.md Changes
        id: commit-readme
        if: ${{ github.event.inputs.dry-run-enabled != 'true' && !cancelled() && !failure() && inputs.commit-changes }}
        uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6.0.1
        with:
          commit_message: "chore: auto update docs/site/content/en/docs/step-by-step-guide.md"
          commit_options: '--no-verify --signoff'
          add_options: '-u'
          file_pattern: 'docs/site/content/en/docs/step-by-step-guide.md'
          commit_user_name: Swirlds Automation
          commit_user_email: swirlds-eng-automation@swirlds.com
          commit_author: Swirlds Automation <swirlds-eng-automation@swirlds.com>
