name: "ZXF: Auto-Assign Merge Queue PRs"

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - trunk-merge/**

permissions:
  contents: read
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:
  auto-assign:
    name: "Auto-Assign PRs"
    runs-on: hiero-solo-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Auto-Assign PRs to Merge Queue
        uses: step-security/auto-assign-action@9c6e66c3089ac6c299bc221667525fbf81bd9498 # v2.0.0
        with:
          repo-token: ${{ secrets.GH_ACCESS_TOKEN }}
          configuration-path: '.github/auto_assign.yaml'
