name: "ZXF: Merge Queue Controller"
on:
  push:
    branches:
      - trunk-merge/**
defaults:
  run:
    shell: bash

permissions:
  contents: read

concurrency:
  group: merge-queue-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
